@import '@styles/Constants.scss';

.NavbarItemLink {
  height: 100%;
  text-decoration: none;
  list-style: none;
  color: $main-text-color;
  background-color: $main-background-color;
  padding: 1.1rem 1rem 1rem 1rem;
  border-bottom: 0.3rem solid transparent;
  font-weight: bold;
  font-size: 1rem;
  transition:
    border-bottom-color 0.1s,
    opacity 0.1s;
}

.NavbarItemLink:hover {
  border-bottom-color: $main-text-color;
  opacity: 0.7;
}

.NavbarItemLinkFocused {
  border-bottom-color: $main-text-color;
  opacity: 0.7;
}

@media only screen and (max-width: $max-width-phone) {
  .NavbarItemLink {
    padding: 0 0 0 0;
  }

  .NavbarItemLink:hover {
    border-bottom-color: transparent;
  }

  .NavbarItemLinkFocused {
    border-bottom-color: transparent;
  }
}
