@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$white: #ffffff;
$black: #000000;
$black-darkmode: #1c1c22;
$gray-letters: #4b5567;
$gray-label: #8a8a8d;
$green-code-characters: #22c241;
$gold-code-characters: #facb30d5;
$darkmode-letters: #d1ba8d;
$light-gray: #e4e5e8;
$border-gray: #dadce0;
$border-darkmode: #d3bc8e;
$darkmode-label: #f0daad;
$theme-font: 'Open Sans', sans-serif;
$max-width-desktop: 1024px;
$max-width-table: 912px;
$max-width-phone: 540px;