@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$white: #ffffff;
$black: #000000;
$gray-letters: #4b5567;
$gray-label: #8a8a8d;
$light-gray: #e4e5e8;
$border-gray: #dadce0;
$theme-font: 'Open Sans', sans-serif;
$max-width-desktop: 1024px;
$max-width-table: 912px;
$max-width-phone: 540px;
