@import '@styles/Constants.scss';

.Services {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  margin: 0 auto;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  max-width: $max-width-desktop;
}

.ServicesTypeSection {
  padding: 0 1rem 0 1rem;
  overflow-x: auto;
}

.ServicesTypeTitle {
  color: $secondary-text-color;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0;
}

.ServicesTypeCollectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ServicesTypeCollectionWrapper::-webkit-scrollbar {
  display: none;
}
