@import '@styles/Constants.scss';

.ServiceItemCard {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.75rem;
  min-width: 18rem;
  max-width: 18rem;
  text-decoration: none;
  box-shadow: 0px 0.063rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s;
}

.ServiceItemCard:hover {
  box-shadow: 0px 0.25rem 0.5rem 0px rgba(0, 0, 0, 0.25);
}

.ServiceItemCardImageWrapper {
}

.ServiceItemCardImage {
  width: 100%;
  height: 56%;
  object-fit: cover;
  object-position: 50% 50%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.ServiceItemCardContentWrapper {
  margin-top: -8rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.ServiceItemCardContentTitle {
  color: $secondary-text-color;
  font-weight: bold;
  font-size: 1.25rem;
}

.ServiceItemCardContentDescription {
  color: $secondary-text-color;
}

.ServiceItemCardCtaWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  border-top: 0.063rem solid $secondary-text-color;
  text-align: center;
}

.ServiceItemCardCta {
  color: $secondary-text-color;
  font-weight: bold;
  font-size: 1.25rem;
}

.ServiceItemCardCtaIcon {
  width: 2rem;
  height: 2rem;
}
