@import '@styles/Constants.scss';

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  background-color: $white;
  box-shadow: 0 0.20rem 0.75rem 0 rgba(0, 0, 0, .16);
}

.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width-desktop;
}

.HeaderLink {
  text-decoration: none;
  color: $black;
  transition: opacity 0.3s;
}

.HeaderLink:hover {
  text-decoration: none;
  opacity: 0.7;
}

.HeaderLogo {
  display: flex;
  align-items: center;
  justify-items: center;
}

.HeaderLogoImage {
  width: 3rem;
  height: 3rem;
}

.HeaderLogoTitle {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0.75rem;
  text-decoration: none;
}

.HeaderNavbar {
  height: 100%;
}

.HeaderNavbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.MobileHeader {
  display: none;
}

@media only screen and (max-width: $max-width-table) {
  .HeaderWrapper {
    padding: 0 1rem 0 1rem;
  }
}

@media only screen and (max-width: $max-width-phone) {
  .Header {
    display: none;
  }
  .HeaderNavbarList {
    display: none;
  }

  .MobileHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 2.75rem;
  }

  .MobileHeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.75rem;
    background-color: $white;
    padding: 0.5rem 0 0.5rem 0;
    box-shadow: 0 0.20rem 0.75rem 0px rgba(0, 0, 0, .16);
  }

  .MobileHeaderLink {
    text-decoration: none;
    color: $black;
    transition: opacity 0.3s;
  }

  .MobileHeaderLink:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  .MobileHeaderLogo {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
  }

  .MobileHeaderLogoImage {
    width: 2.3rem;
    height: 2.3rem;
  }

  .MobileHeaderLogoTitle {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .MobileHeaderMenu {
    display: flex;
    padding: 0 1rem 0 1rem;
  }

  .MobileHeaderMenuIcon {
    width: 2rem;
    height: 2rem;
  }

  .MobileHeaderNavbar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 1;
  }

  .MobileHeaderNavbarOpen {
    display: flex;
    transition: 0.3s;
  }

  .MobileHeaderNavbarList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
  }

  .MobileHeaderNavbarList a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: $gray-letters;
    background-color: $white;
    padding: 1.25rem 0px 1.25rem 0px;
    font-weight: bold;
    font-size: 1.25rem;
    transition: opacity 0.3s;
    height: 100%;
    border-bottom: 1px solid $border-gray;
  }

  .MobileHeaderNavbarList a:hover {
    background-color: $white;
  }
}